@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoBlack;
    src: url(../fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: RobotoBold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: RobotoMedium;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

* {
    font-family: RobotoMedium;
}

body {
    margin: 8px;
    padding: 0;
    background-color: whitesmoke;
    overflow: scroll;
}

a,
a:visited,
a:focus,
a:active {
    color: steelblue;
    text-decoration-line: none;
}

a:hover {
    color: lightsteelblue;
}

a {
    font-family: RobotoMedium;
}

p {
    line-height: 22px;
    text-align: justify;
}

details[open] summary {
    background-color: #f0f0f0;
}

details>summary:first-of-type {
    list-style-type: none;
}

details summary::-webkit-details-marker {
    display: none;
}

summary {
    position: relative;
    cursor: pointer;
    list-style-type: none;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    margin: 6px 0;
}

li:first-child {
    margin: 0;
}

/* Layout */

.summary {
    display: grid;
    font-weight: bold;
    margin: 0 auto;
    grid-template-columns: 60px auto;
    grid-template-rows: 142px 28px;
    grid-template-areas:
        "item-image item-image"
        "item-title item-title";
    max-width: 292px;
}

.site {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 50%;
    grid-template-rows: 60px auto;
    grid-template-areas:
        "title links"
        "featured-title featured-title"
        "featured-gallery featured-gallery"
        "games-title games-title"
        "games-gallery games-gallery"
        "tools-title tools-title"
        "tools-gallery tools-gallery"
        "footer footer";
    max-width: 292px;
}

.summary-featured {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 8px 8px;
    grid-auto-flow: row;
    grid-template-areas:
        "gallery gallery gallery gallery"
        "remarks remarks remarks remarks";
}

.summary-project {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 0.2fr auto;
    gap: 8px 8px;
    grid-auto-flow: row;
    grid-template-areas:
        "gallery gallery gallery gallery"
        "genre genre-text genre-text genre-text"
        "players players-text players-text players-text"
        "language language-text language-text language-text"
        "platform platform-text platform-text platform-text"
        "toolset toolset-text toolset-text toolset-text"
        "dependencies dependencies-text dependencies-text dependencies-text"
        "remarks remarks-text remarks-text remarks-text"
        "sample sample installer installer";
}

.media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px 8px;
    grid-auto-flow: row;
    grid-template-areas:
        "media-1 media-2 media-3 media-4"
        "media-5 media-6 media-7 media-8";
}

/* Common */

.placeholder {
    background: #f0f0f0;
}

.bold {
    font-weight: bold;
    color: darkgray;
}

.label {
    text-align: right;
    font-family: RobotoBlack;
    font-weight: bold;
}

.text {
    text-align: left;
    font-family: RobotoBold;
    color: #585858;
}

.text ul {
    margin: 0;
}

.section>details:first-child {
    margin-top: 8px !important;
}

/* Areas */

.links {
    grid-area: links;
}

.title {
    grid-area: title;
    font-family: RobotoBlack;
    font-size: 20px;
    font-weight: bolder;
}

.subtitle {
    float: left;
    font-family: RobotoBlack;
    font-size: 17px;
    font-weight: bolder;
    color: darkgray;
}

.section-title {
    font-family: RobotoBlack;
    font-size: 36px;
    font-weight: bolder;
    text-align: right;
    color: black;
    margin: auto 0;
}

.featured-title {
    grid-area: featured-title;
}

.featured {
    grid-area: featured-gallery;
}

.games-title {
    grid-area: games-title;
}

.games {
    grid-area: games-gallery;
}

.tools-title {
    grid-area: tools-title;
}

.tools {
    grid-area: tools-gallery;
}

.summary-image {
    grid-area: item-image;
}

.summary-year {
    grid-area: item-year;
    margin: auto;
}

.summary-title {
    grid-area: item-title;
    font-size: 18px;
    font-family: RobotoBlack;
    text-align: left;
    margin: auto 0;
}

.footer {
    grid-area: footer;
    margin-top: 8px;
    background: black;
}

/* Content */

.footer>p {
    font-family: RobotoBlack;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
}

.pointer {
    cursor: pointer;
}

.social-media {
    float: right;
}

.social-media :last-child {
    margin-left: -1px;
    margin-right: 0;
}

.social-media-icon {
    margin: 0 5px 0 0;
    width: 24px;
    height: 24px;
}

.social-media-icon>img {
    width: auto;
    height: 24px;
}

.source-code-popup {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -360px;
    margin-top: -270px;
    width: 720px;
    height: 540px;
    line-height: 540px;
    text-align: center;
    background: black;
    color: gray;
}

.gallery {
    grid-area: gallery;
}

.year {
    position: absolute;
    top: 8px;
    left: 8px;
    font-family: RobotoBlack;
    font-size: 16px;
    font-weight: bolder;
    color: whitesmoke;
    text-shadow: 1px 1px black;
}

.tech {
    position: absolute;
    right: 8px;
    font-family: RobotoBlack;
    font-size: 16px;
    font-weight: bold;
    color: whitesmoke;
    text-shadow: 1px 1px black;
}

.p1 {
    top: 8px;
}

.p2 {
    top: 28px;
}

.p3 {
    top: 48px;
}

.p4 {
    top: 68px;
}

.summary-featured>.remarks {
    grid-area: remarks;
    font-size: 15px;
    line-height: 1.3;
    margin: 8px auto;
}

.summary-project>* {
    font-size: 15px;
    line-height: 1.3;
}

.summary-project>.link {
    text-align: center;
}

.summary-project>.genre {
    grid-area: genre;
}

.summary-project>.players {
    grid-area: players;
}

.summary-project>.platform {
    grid-area: platform;
}

.summary-project>.toolset {
    grid-area: toolset;
}

.summary-project>.language {
    grid-area: language;
}

.summary-project>.dependencies {
    grid-area: dependencies;
}

.summary-project>.genre-text {
    grid-area: genre-text;
}

.summary-project>.players-text {
    grid-area: players-text;
}

.summary-project>.sample {
    grid-area: sample;
    margin: auto auto 12px auto;
}

.summary-project>.installer {
    grid-area: installer;
    margin: auto auto 12px auto;
}

.summary-project>.remarks {
    grid-area: remarks;
}

.summary-project>.remarks-text {
    grid-area: remarks-text;
}

.summary-project>.platform-text {
    grid-area: platform-text;
}

.summary-project>.toolset-text {
    grid-area: toolset-text;
}

.summary-project>.language-text {
    grid-area: language-text;
}

.summary-project>.dependencies-text {
    grid-area: dependencies-text;
}

.media>.media-1 {
    grid-area: media-1;
}

.media>.media-2 {
    grid-area: media-2;
}

.media>.media-3 {
    grid-area: media-3;
}

.media>.media-4 {
    grid-area: media-4;
}

.media>.media-5 {
    grid-area: media-5;
}

.media>.media-6 {
    grid-area: media-6;
}

.media>.media-7 {
    grid-area: media-7;
}

.media>.media-8 {
    grid-area: media-8;
}
