
* {
	font-family: monospace;
}

body {
	margin: 8px;
  padding:  0;
	background-color: whitesmoke;
	overflow: scroll;
}

a, a:visited, a:focus, a:active {
	color: steelblue;
	text-decoration-line: none;
}

a:hover {
	color: lightsteelblue;
}

p {
	line-height: 22px;
	text-align: justify;
}

/* Layout */

.site {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 50%;
  grid-template-rows: 42px 28px auto auto 52px;
  grid-template-areas:
    "title title"
    "subtitle media"
    "gallery gallery"
    "articles articles"
    "footer footer";
    max-width: 292px;
}

.games {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "red-sector-a red-sector-a red-sector-a red-sector-a"
    "red-sector-a red-sector-a red-sector-a red-sector-a"
    "red-sector-a red-sector-a red-sector-a red-sector-a"
    "red-sector-a red-sector-a red-sector-a red-sector-a"
    "star-ocean star-ocean raven-attack raven-attack"
    "star-ocean star-ocean raven-attack raven-attack"
    "ai-pong ai-pong crazy-maze ballz-n-cupz"
    "ai-pong ai-pong paper-cannon woops-ex"
    "qubz-console ballz-n-cupz-ios . .";
    grid-gap: 8px;
}

/* Areas */

.media {
  grid-area: media;
}

.title {
  grid-area: title;
  font-size: 28px;
  font-weight: bold;
}

.subtitle {
  grid-area: subtitle;
  font-size: 16px;
  font-weight: bold;
}

.gallery {
  grid-area: gallery;
}

.articles {
  grid-area: articles;
}

.footer {
  grid-area: footer;
	background: black;
}

/* Content */

.footer > p {
	margin-right: 16px;
	font-weight: bold;
	text-align: right;
	color: whitesmoke;
}

.pointer {
	cursor: pointer;
}

.social-media {
	display: inline-block;
  float:  right;
}

.social-media :last-child {
  margin-left: -1px;
  margin-right: 0;
}

.social-media-icon {
  margin: 0 5px 0 0;
  width: 24px;
  height: 24px;
}

.social-media-icon > img {
	width: auto;
	height: 24px;
}

.source-code-popup {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -360px;
	margin-top: -270px;
	width: 720px;
	height: 540px;
	line-height: 540px;
	text-align: center;
	background: black;
	color: gray;
}

/* Gallery - Games */

.red-sector-a {
  grid-area: red-sector-a;
}

.star-ocean {
  grid-area: star-ocean;
}

.raven-attack {
  grid-area: raven-attack;
}

.ai-pong {
  grid-area: ai-pong;
}

.crazy-maze {
  grid-area: crazy-maze;
}

.ballz-n-cupz {
  grid-area: ballz-n-cupz;
}

.paper-cannon {
  grid-area:  paper-cannon;
}

.woops-ex {
  grid-area: woops-ex;
}

.qubz-console {
  grid-area: qubz-console;
}

.ballz-n-cupz-ios {
  grid-area: ballz-n-cupz-ios;
}
